body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

.container {
    width: 400px;
    margin: 80px auto;
    padding: 30px;
    text-align: center;
    background: white;
    border-radius: 10px;
}

h1 {
    font-size: 40px;
    margin-bottom: 20px;
    color:black;
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

input {
    display: block;
    width: 90%;
    margin: 20px auto;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

p {
    font-size: 20px;
    margin-top: 15px;
}