* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

#root{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content:center;
    align-items:center;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    min-height: 100vh;
    
}

form {
    width: 350px;
    padding: 30px;
    background-color: whitesmoke;
    border: 1px solid #ddd;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: black;
    font-size: 30px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 14px;
    margin-bottom: 15px;
    background-color: #f7f7f7;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
}

input:focus {
    outline: none;
    border-color: #e8eef1
    
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    background-color: #6c58f1;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color:#4e69c3 ;
}

p {
    margin-bottom: 10px;
    text-align: center;
}

p:first-of-type {
    color: red;
    font-weight: bold;
}

p:last-of-type {
    color: #256e35;
    font-weight: bold;
}