.cart-container{
    width: 400px;
    margin: 50px auto;
    padding: 30px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
}

h1{
    font-size: 40px;
    color: #333;
}

ul {
    list-style-position: inside;
    padding: 0;
}

button {
    padding:10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
}